.team{
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 5px;
  padding-inline: 10px;
  margin: 5px 0;
}
.vertical{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.match{
  padding: 10px;
  &__team{
    border: 1px solid black;
    padding: 6px;
    height: 20px;
    background: white;
    display: grid;
    align-items: center;
    grid-template-columns: 20px minmax(100px, 1fr);
    gap: 2px;
    &__flag{
      background: grey;
      height: 20px;
      width: 30px;
    }
  }
  &__score{
    border: 1px solid black;
    background: white;
    // width: 32px;
    width: 100%;
    height: 100%;
  }
}
.date{
  text-transform: none;
  font-weight: 600;
  font-size: 13px;
}